<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app needs access to Apple Music to search and play music.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to your calendar to manage events.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to your contacts to search and manage contact information.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to your location to provide location-based services.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to your location to provide location-based services.</string>
	<key>NSRemindersUsageDescription</key>
	<string>This app needs access to your reminders to manage tasks.</string>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.weatherkit</key>
	<true/>
</dict>
</plist>
